body {
  background-image: url("Images/picture.jpeg");
  margin: 0px;
}
#wrapper2 {
  width: 60%;
  background: rgba(205, 209, 209, 0.6);
  color: #000000;
  margin: 0 auto;
  min-width: 750px;
  max-width: 1024px;
}

#navbar {
  background: black;
  overflow: auto;
  color: white;
}
#navbar a {
  color: white;
  display: block;
  margin: auto;
  text-decoration: none;
}

#navbar .logo {
  float: left;
  padding-top: 10px;
  padding-left: 50px;
}

#navbar ul {
  list-style: none;
  float: right;
  margin-top: 25px;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* Navbar */
.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #f7c08a;
  color: #333;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-primary {
  background: #f7c08a;
  color: #333;
}
.clr {
  clear: both;
}
.l-heading {
  font-size: 40px;
  line-height: 1.2;
}
/* Padding */
.py-1 {
  padding: 10px 0px;
}
.py-2 {
  padding: 20px 0px;
}
.py-3 {
  padding: 30px 0px;
}
h1 {
  color: brown;
}
h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 35px;
}
.required {
  color: red;
}
p {
  padding-left: 22px;
  font-size: 20px;
}
legend {
  text-align: center;
  font-size: 21px;
}
.first_name {
  padding-left: 200px;
  font-size: 20px;
}
#errorFirstName {
  padding-left: 295px;
}
.last_name {
  padding-left: 203px;
  font-size: 20px;
}
#errorLastName {
  padding-left: 295px;
}
.Email {
  padding-left: 229px;
  font-size: 20px;
}
#errorEmail {
  padding-left: 295px;
  
}
.number {
  padding-left: 164px;
  font-size: 20px;
}
#errorPhone {
  padding-left: 295px;
}
.birthday_date {
  padding-left: 223px;
  font-size: 20px;
}
.arrival_time {
  padding-left: 223px;
  font-size: 20px;
}
.Departure_time {
  padding-left: 203px;
  font-size: 20px;
}
.total_guest {
  padding-left: 113px;
  font-size: 20px;
}
.party_type {
  margin-left: 43%;
  margin-top: 10px;
  font-size: 20px;
}
p {
  padding-left: 215px;
}
input[type="radio"] {
  height: 15px;
  width: 15px;
}

p1 {
  font-size: 20px;
}
.submitbutton {
  background-color: #e44a4a;
  border: none;
  color: white;
  padding: 20px 62px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 40%;
}
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 700px)  {
  #navbar {
    max-width: 100%;
  }
  #navbar .logo {
    float: none;
    text-align: center;
    padding-left: 180px;
    padding-bottom: 10px;
    font: 500;

  }
  
  #navbar ul,
  #navbar ul li {
    float: none;
  }
  
  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }
  
  #showcase {
    height: 100%;
  }
  
  #showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  h1 {
    padding-left: 100px;
  }
  h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    max-width: 400px;
  }
  .required {
    color: red;
  }
  p {
    padding-left: 22px;
    font-size: 20px;
  }
  .field-padding {
    max-width: 350px;

  }
  legend {
    text-align: center;
    font-size: 21px;
  }
  .first_name {
    padding-left: 50px;
    font-size: 20px;
  }
  #errorFirstName {
    padding-left: 150px;
  }
  .last_name {
    padding-left: 53px;
    font-size: 20px;
  }
  #errorLastName {
    padding-left: 150px;
  }
  .Email {
    padding-left: 80px;
    font-size: 20px;
  }
  #errorEmail {
    padding-left: 150px;
    
  }
  .number {
    padding-left: 15px;
    font-size: 20px;
  }
  #errorPhone {
    padding-left: 150px;
  }
  fieldset {
    width: 450px;
  }
  .birthday_date {
    padding-left: 50px;
    font-size: 20px;
  }
  .arrival_time {
    padding-left: 60px;
    font-size: 20px;
  }
  .Departure_time {
    padding-left: 37px;
    font-size: 20px;
  }
  .total_guest {
    padding-left: 2px;
    font-size: 15px;
    width: 90px;
  }

  .party_type {
    margin-left: 43%;
    margin-top: 10px;
    font-size: 20px;
  }
  p {
    padding-left: 50px;
  }
  .submitbutton {
    margin-left: 90px;
  }
  #main-footer {
   width: 100%;
  }
  .social {
    padding-left: 40px;
  }
}