/* Nav styling start */
.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
}
#navbar {
  background: black;
  overflow: auto;
  color: white;
}
#navbar a {
  color: white;
  display: block;
  margin: auto;
  text-decoration: none;
  font-size: large;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
  margin: 0;
}

#navbar ul {
  list-style: none;
  float: right;
  margin: 0;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: small;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Nav styling end */

/* Footer styling starts */

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

.fab {
  color: black;
}

@media screen and (max-width: 530px) {
  #navbar ul {
    clear: both;
    margin: 0;
    width: 100%;
    padding-left: 10%;
  }
}
